asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.7
Django==6.0.4
django-unfold==0.92.0
gunicorn==25.3.0
idna==3.11
packaging==26.0
pytz==2026.1.post1
requests==2.33.1
setuptools==82.0.1
sqlparse==0.5.5
urllib3==2.6.3
